.block {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    animation-name: walk;
    animation-duration: 5s;
    position: absolute;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}


/* ===================from to keyframes================== */


/* @keyframes move {
    from {
        background-color: rgb(40, 202, 202);
        left: 0;
    }
    to {
        background-color: rgb(96, 11, 175);
        left: 500px;
    }
} */

img {
    width: 100%;
}


/* ===========0% to 100% =========== */

@keyframes walk {
    0% {
        left: -10%;
        transform: translateY(0);
    }
    20% {
        transform: translateY(100px) rotate(-20deg);
    }
    40% {
        transform: translateY(0) rotate(-10deg);
    }
    60% {
        transform: translateY(100px) rotate(0deg);
    }
    80% {
        transform: translateY(0) rotate(10dge);
    }
    100% {
        left: 120%;
        transform: translateY(100px);
    }
}